cffi==1.15.0
click==8.0.3
cryptography==36.0.1
dataclasses==0.8
Flask==2.0.2
flask-form==1.0.0
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
greenlet==1.1.2
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
pkg_resources==0.0.0
pycparser==2.21
PyMySQL==1.0.2
six==1.16.0
SQLAlchemy==1.4.31
SQLAlchemy-Utils==0.38.2
typing_extensions==4.0.1
Werkzeug==2.0.2
WTForms==3.0.0
zipp==3.6.0
