{% extends "base.html" %} {% block title %} Chi sono? {% endblock title %} {% block content %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-md-3 mx-auto">
        <h1 class="display-5">Chi Sono?</h1>
    </div>
    <div class="row">
        <div class="col bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div>
                <h2 class="display-5">Eccomi!</h2>
                <p class="lead">Foto</p>
            </div>
            <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0"></div>
        </div>
        <div class="col bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div>
                <h2 class="display-5">Presentazione</h2>
                <p class="lead">Ciao mi chiaskjfalskjfkasfasf</p>
            </div>
            <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0"></div>
        </div>
    </div>
</div>
<div class="position-relative overflow-hidden  m-md-3 text-center bg-light">
    <div class="col-md-5 p-md-3 mx-auto">
        <h1 class="display-5">Interessi</h1>
    </div>
    <div class="row">
        <div class="col bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div>
                <h2 class="display-5">Fotografia</h2>
                <p class="lead">Carosello foto</p>
            </div>
            <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0"></div>
        </div>
        <div class="col bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div>
                <h2 class="display-5">Informatica</h2>
                <p class="lead">pensiero sull'Informatica</p>
            </div>
            <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0"></div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div>
                <h2 class="display-5">Investimenti</h2>
                <p class="lead">pensiero investimenti, crypto ecc</p>
            </div>
            <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0"></div>
        </div>
        <div class="col bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div>
                <h2 class="display-5">Viaggi</h2>
                <p class="lead">pensiero sui viaggi / Carosello foto / lista posti visitati</p>
            </div>
            <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0"></div>
        </div>
    </div>
</div>
{% endblock content %} {% block endScript %}
<script>
    $('#nav').find('.active').removeClass("active");
    $('#navAboutMe').addClass("active")
    $('#about_me').addClass("active")
</script>
{% endblock endScript %}