{% extends "base.html" %} {% block title %} Portfolio {% endblock title %} {% block content %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-md-3 mx-auto">
        <h1 class="display-5">Portfolio</h1>
        <p class="lead fw-normal">
            Ecco qui di seguito i progetti svolti...
        </p>
    </div>
</div>
{% endblock content %} {% block endScript %}
<script>
    $('#nav').find('.active').removeClass("active");
    $('#navPortfolio').addClass("active")
</script>
{% endblock endScript %}