<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" href="{{ url_for('static', filename='images/logo/federico-rotatori-favicon.png') }}"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='images/logo/federico-rotatori-logo.png') }}" height="35" class="d-inline-block align-top" alt="logo image" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('views.home') }}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="about_me" data-bs-toggle="dropdown" aria-expanded="false">Su di me</a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="about_me" data-bs-popper="none">
              <li><a class="dropdown-item" href="#">Chi sono</a></li>
              <li><a class="dropdown-item" href="#">Il "perchè" del sito</a></li>
              <li><a class="dropdown-item" href="#">Citazioni preferite</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Referral</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Contatti</a>
          </li>
        </ul>
        {% if current_user.is_authenticated %}
        <ul class="navbar-nav me-right mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Logged in as: {{ current_user.username }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
          </li>
        </ul>
        {% else %}
        <ul class="navbar-nav me-right mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.sign_up') }}">Sign Up</a>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
  </nav>
  {% with messages = get_flashed_messages(with_categories=True) %} {% if
  messages %} {% for category, message in messages %} {% if category ==
  "error" %}
  <div class="alert alert-danger alter-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    {{ message }}
  </div>
  {% else %}
  <div class="alert alert-success alter-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    {{ message }}
  </div>
  {% endif %} {% endfor %} {% endif %} {% endwith %} {% block content %}{%
  endblock %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>